* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container_form2 {
    margin-top: 30px;
    overflow: hidden;
}

.container_form {
    width: 250px;
    font-weight: bold;
    overflow: hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.form1 {
    margin-top: 20px;
    text-align: center;
    color: blueviolet;
    margin-left: 25px;
    font-family: "Copperplate", "Papyrus", "fantasy";
  margin-bottom: 50px
}

.container_form h2 {
    text-align: left;
    color: blueviolet;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.container_form input {
    outline: none;
    border: none;
    border-bottom: 2px solid blueviolet;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: 200px;
    margin-top: 2px;
    background: transparent;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    animation: left 1.5s linear;
}

.container_form textarea {
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid blueviolet;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    width: 200px;
    margin-top: 2px;
    scrollbar-width: none;
    background: transparent;
    overflow: hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    animation: left 1.5s linear;
    padding: 2px;
    overflow: auto;
}

.box {
    margin: 10px 0px 0px 0px;
}

.box p {
    color: blueviolet;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.box button {
    text-align: center;
    padding: 5px;
    font-size: 17px;
    border-radius: 10px;
    color: blueviolet;
    border: 2px solid blueviolet;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    animation: data 0s;
   cursor: pointer;
} 

.box button:hover {
    scale: 0.9;
    background-color: blueviolet;
    color: black;
}

@media screen and (max-width:510px) {
    .container_form {
        width: 180px;
    }
    .form1{
        font-size: 13px;
    }
    .container_form2 img {
       height: 250px;
       width: 200px;
    }
}

@media screen and (max-width:425px) {

 .container_form {
        width: 150px;
        margin: 20px;
    }
    .container_form input{
        width:130px ;
        font-size: 13px;
    }
    .container_form textarea{
        width:150px ;
        font-size: 13px;
    }
    .form1{
        font-size: 10px;
    }
    .container_form2 img {
       height: 180px;
       width: 150px;
       margin-top: 30px;
    }
}
@media screen and (max-width:330px) {

    .container_form {
           width: 130px;
           margin: 20px;
       }
       .container_form input{
           width:120px ;
           font-size: 11px;
       }
       .container_form textarea{
        width:130px ;
        font-size: 11px;
    }
       .form1{
           font-size: 10px;
       }
       .container_form2 img {
          height: 180px;
          width: 150px;
          margin-top: 30px;
       }
   }

@media (prefers-reduced-motion: no-preference) {
    .form{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
     }
}

